<div class="jumbotron">
<footer class="container" style="text-transform:uppercase;margin-top: 200px;">
 <span class="color_15">          <!--text-transform拉开字间距;color_11定义这行字的颜色-->
    <p class="text-center">©2017 by 寻踏水的痕迹.
        <a href="https://fullstack.xinshengdaxue.com/works/620"target=_new>PROUDLY CREATED  WITH chenlin&kimi</a>
    </p>
  </span>
</footer>
</div>
